# This Assignment was done by Aniket Nandy

# Q1 _anagram

In [6]:
def _anagram(word1,word2):
    if (sorted(word1)==sorted(word2)):
        return True
    else:
        return False

# Q2 nested_sum

In [18]:
def nested_sum(a):
    total=0
    for i in a:
        if (type(i) == type([])):
            total+=sum(i)
        else:
            total+=i
    return total

# Q3 listed_class

In [43]:
def list_class(L):
    a = []
    b = []
    c = []
    d = []
    for i in L:
        if type(i) == int:
            a.append(i)
        elif type(i) == list:
            b.append(i)
        elif type(i) == str:
            c.append(i)
        elif type(i) == float:
            d.append(i)
    print("Integer Data type",a)
    print("List Data type", b)
    print("String Data type",c)
    print("Float data type", d)

# Q4 list_sorted

In [ ]:
def list_sorted(string):
    after_split= string.split(" ")
    after_split.sort()
    ans = " ".join(safter_split)
    return ans

# Q5 Cardinal_fn

In [33]:
def cardinal_fn(a):
    s=len(a)
    if (s%2 == 0):
        a=a[1:(s//2-1)] + a[(s//2)+1:s-1]
        return a 
    else:
        a=a[1:(s//2)] + a[(s//2)+1:s-1]
        return a

# tester

In [47]:
print("Output for Q1")
print(_anagram("qwerty","ytreq"))
print("")

#Q2
print("Output for Q2")
print(nested_sum([1,2,3,-4,[4,6],[8,9,11]]))
print("")

#Q3
print("Output for Q3")
print(list_sorted("hello world A"))
print("")

#Q4
print("Output for Q4")
print(cardinal_fn([1,2,3,4,5,6,7]))
print("")

#Q5
print("Output for Q5")
list_class([1,2,3,"asd",4.34,[1,23]])

Output for Q1
False

Output for Q2
0

Output for Q3
A hello world

Output for Q4
[2, 3, 5, 6]

Output for Q5
Integer Data type [1, 2, 3]
List Data type [[1, 23]]
String Data type ['asd']
Float data type [4.34]